name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Elixir ${{matrix.elixir}} / OTP ${{matrix.otp}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - elixir: 1.4.x
            otp: 18.3.4.11
          - elixir: 1.5.x
            otp: 18.3.4.11
          - elixir: 1.6.x
            otp: 19.3.6.13
          - elixir: 1.7.x
            otp: 19.3.6.13
          - elixir: 1.8.x
            otp: 20.3.8.26
          - elixir: 1.9.x
            otp: 20.3.8.26
          - elixir: 1.10.x
            otp: 21.3.8.18
          - elixir: 1.11.x
            otp: 22.3.4.12
          - elixir: 1.11.x
            otp: 23.1.1
            warnings_as_errors: true
    env:
      MIX_ENV: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Install Dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get --only test

      - name: Cache build artifacts
        uses: actions/cache@v2
        with:
          path: |
            ~/.hex
            ~/.mix
            _build
          key: ${{ matrix.otp }}-${{ matrix.elixir }}-build

      - name: Compile
        run: mix compile --warnings-as-errors
        if: matrix.warnings_as_errors

      - name: Run tests
        run: mix test
